Repository MurilloWolf/dash-bot-telegram, changes with the labels that .github/labeler.yml gives for each.
All labels: area/bot, area/core, area/infrastructure, area/config, area/tests, area/docs, area/ci-cd, area/dependencies, type/feature, type/bugfix, type/documentation, type/refactor, type/performance, priority/high, priority/medium, priority/low

test: validate CI/CD pipeline functionality
  test-ci-cd.md
Labels: area/docs

🤖 Auto-fix code formatting and linting issues
  PIPELINE-REPORT.md
Labels: area/docs

feat: update changelog
  CHANGELOG.md
Labels: area/docs

fix: resolve CI/CD pipeline issues
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/how-to-test-pipeline.md
  scripts/test-pipeline.sh
Labels: area/docs, area/ci-cd, type/documentation, priority/low

fix: resolve changelog workflow conflicts and add retry logic
  .github/workflows/changelog.yml
Labels: area/ci-cd

fix: resolve CI pipeline issues
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/how-to-test-pipeline.md
Labels: area/docs, area/ci-cd, type/documentation, priority/low

fix: add missing POSTGRES_URL_NON_POOLING env var for tests
  .github/workflows/ci.yml
Labels: area/ci-cd

fix: add PostgreSQL service to CI workflow
  .github/workflows/ci.yml
Labels: area/ci-cd

fix: format workflow file with Prettier
  .github/workflows/ci.yml
Labels: area/ci-cd

feat: added invisible link on race_details
  src/Bot/commands/usecases/races/callbacks/raceDetails.ts
  src/utils/formatters/RaceFormatter.ts
Labels: area/bot, type/feature, type/bugfix, type/refactor, type/performance

feat: location and favorite races
  src/Bot/commands/usecases/races/callbacks/index.ts
  src/Bot/commands/usecases/races/callbacks/raceDetails.ts
  src/Bot/commands/usecases/races/callbacks/raceFavorite.ts
  src/Bot/commands/usecases/races/callbacks/raceList.ts
  src/Bot/commands/usecases/races/callbacks/raceListFavorite.ts
  src/Bot/commands/usecases/races/callbacks/raceLocation.ts
  src/Bot/commands/usecases/races/commands/index.ts
  src/Bot/commands/usecases/races/commands/listFavoriteRaces.ts
  src/Bot/commands/usecases/races/commands/listRaces.ts
  src/Bot/commands/usecases/races/index.ts
  src/Bot/config/callback/CallbackDataSerializer.ts
  src/adapters/in/telegram/TelegramBotAdapter.ts
  src/services/FavoriteApiService.ts
  src/services/index.ts
  src/types/Command.ts
  src/types/Service.ts
  src/types/callbacks/raceCallbacks.ts
Labels: area/bot, area/config, type/feature, type/bugfix, type/refactor, type/performance

feat: new favorite race
  src/Bot/commands/usecases/races/callbacks/index.ts
  src/Bot/commands/usecases/races/callbacks/raceDetails.ts
  src/Bot/commands/usecases/races/callbacks/raceUnfavorite.ts
  src/Bot/commands/usecases/races/index.ts
  src/Bot/config/callback/CallbackDataSerializer.ts
  src/types/callbacks/raceCallbacks.ts
Labels: area/bot, area/config, type/feature, type/bugfix, type/refactor, type/performance

feat: deploy changes
  .env.example
  DEPLOY_GUIDE.md
  docs/setup-secrets.md
  fly.toml
  package.json
  scripts/setup-api-endpoints.sh
  src/Bot/commands/usecases/races/callbacks/raceDetails.ts
Labels: area/bot, area/docs, area/ci-cd, area/dependencies, type/feature, type/bugfix, type/documentation, type/refactor, type/performance, priority/low

feat: first alert system
  .env.development
  fly.toml
  package-lock.json
  package.json
  src/adapters/in/http/HealthCheckAdapter.ts
  src/bot.ts
  src/services/BotHealthMonitor.ts
  src/services/index.ts
  test-alerts.js
  test-bot-alerts.js
  test-production.js
Labels: area/bot, area/dependencies, type/feature, type/bugfix, type/refactor, type/performance

feat: added alert service layer
  src/bot.ts
  src/services/AlertService.ts
  src/services/AlertService_Broken.ts
  src/services/AlertService_Fixed.ts
  src/services/BotHealthMonitor.ts
  src/services/index.ts
Labels: type/feature, type/bugfix, type/refactor, type/performance

fix: lint error
  src/services/AlertService_Broken.ts
Labels: type/feature, type/bugfix, type/refactor, type/performance

feat: remove unnecessary scripts
  src/services/AlertService_Broken.ts
  test-alerts.js
  test-bot-alerts.js
  test-production.js
Labels: type/feature, type/bugfix, type/refactor, type/performance

fix: lint errors
  src/services/ApiService.ts
Labels: type/feature, type/bugfix, type/refactor, type/performance

fix: ci/cd location
  .github/workflows/.github/workflows/changelog.yml
  .github/workflows/.github/workflows/ci.yml
  .github/workflows/.github/workflows/code-quality.yml
  .github/workflows/.github/workflows/codeql.yml
  .github/workflows/.github/workflows/pr-automation.yml
Labels: area/ci-cd

Potential fix for code scanning alert no. 9: Double escaping or unescaping
  src/services/AlertService_Fixed.ts
Labels: type/feature, type/bugfix, type/refactor, type/performance

Potential fix for code scanning alert no. 8: Double escaping or unescaping
  src/services/AlertService.ts
Labels: type/feature, type/bugfix, type/refactor, type/performance

.github/labeler.yml:

# Labels for different areas of the codebase
'area/bot':
  - 'src/Bot/**/*'
  - 'src/adapters/**/*'

'area/core':
  - 'src/core/**/*'

'area/infrastructure':
  - 'src/core/infra/**/*'
  - 'prisma/**/*'
  - 'docker-compose.yml'
  - 'Dockerfile'

'area/config':
  - 'src/Bot/config/**/*'
  - '*.config.js'
  - '*.config.ts'
  - 'tsconfig.json'

'area/tests':
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/tests/**/*'
  - 'vitest.config.ts'

'area/docs':
  - '**/*.md'
  - 'docs/**/*'
  - 'copilot/**/*'

'area/ci-cd':
  - '.github/**/*'
  - 'scripts/**/*'

'area/dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'npm-shrinkwrap.json'

# Type of changes
'type/feature':
  - any: ['src/**/*']

'type/bugfix':
  - any: ['src/**/*']

'type/documentation':
  - any: ['**/*.md', 'docs/**/*']

'type/refactor':
  - any: ['src/**/*']

'type/performance':
  - any: ['src/**/*']

# Priority labels
'priority/high':
  - any: ['src/core/**/*', 'src/Bot/config/**/*']

'priority/medium':
  - any: ['src/Bot/**/*', 'src/adapters/**/*']

'priority/low':
  - any: ['docs/**/*', '**/*.md']
